{% extends "base.html" %}
{% block extra_head %}
<style>
body {
  background-color: #eee;
}

.form-signin {
  max-width: 430px;
  padding: 15px;
  margin: 0 auto;
}
</style>
{% endblock %}
{% block content %}
<div class="form-signin">
<h1 class="signin-heading">Please authenticate</h1>{% load url from future %}
<p><a class="btn btn-primary" href="{% url 'socialauth_begin' 'bratabase' %}">Connect with Bratabase</a></p>
<div class="alert alert-info">
<p>You will be sent to Bratabase.com to login/authorize this application.</p>
</div>
</div>
{% endblock %}

